.navBar {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	border: 1px solid #0d0d0d;
}
.logo {
	margin: 14px;
	font-size: 18px;
}
.logo div {
	border: 1px solid #504e4e;
	padding: 8px;
	border-radius: 5px;
}

.rightNav {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 10px;
}
.rightNav li {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
