.navBar {
	padding-right: 40px;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	background-color: #e1e1e1;
}
.logo {
	margin: 14px;
	font-size: 18px;
}
.logo div {
	border: 1px solid #ccc;
}

.rightNav {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.rightNav li {
	margin: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
